.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.cell {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    cursor: pointer;
}
