.app {
    background-color: #fafafa;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}
